/* General link styles */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 9em;
	line-height: 1;
    opacity: .5;
    bottom: 150px;
	color: #9e9ba4;
	display: inline-block;
}

/* Takiri */
.link--takiri {
	font-style: italic;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	font-size: 8em;
	padding: 0 10px 20px;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--takiri:hover {
	color: white;
    opacity: 1;
}

.link--takiri::before {
	content: '';
	position: absolute;
	height: 5px;
	width: 120%;
	top: 80%;
	margin-top: -15px;
	left: -15%;
	z-index: -1;
	background: gray;
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.link--takiri:hover::before {
	-webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
	transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

.link--takiri span {
	font-size: 20%;
	font-weight: 700;
	position: absolute;
	right: -5px;
	color: #e53369;
	bottom: -15;
	opacity: 0;
	-webkit-transform: translate3d(-10px,-10px,0);
	transform: translate3d(-10px,-10px,0);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.link--takiri:hover span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Media Queries */
@media screen and (max-width: 50em) {
	.link--surinami { font-size: 3em; }
}

@media screen and (max-width: 42em) {
	.link--takiri { font-size: 5.5em; }
}